body {
    padding: 0px;
    margin: 0;
    background-image: url(../imagens/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1100px;
}

.título {
    text-align: center;
    color: #00bcd4
}

h1 {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    justify-content: center;
}

.containerInput {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
    
}


.containerInput select {
    margin: 15px;
    width: 450px;
    height: 41px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 0;
}

.containerInput input {
    margin: 15px;
    width: 450px;
    height: 37px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 0;
}

.class_mensagemBefore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 533px;
    height: fit-content;
   
}


.button-simular {
    padding: 5px 20px;
    margin: 20px;
    font-size: 19px;
    background-color: #00acc1;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    width: 160px;
}


.class_mensagemBefore b, span{
color:#0691a3;
}

