:root {
    --azulEscuro: #012351;
    --azulClaro: #41b8d5;
}

body {
    background-color: var(--azulEscuro);
}

#graficos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#graficoLinha {
    background-color: white;
    border-radius: 8px;
    border: 3px solid var(--azulClaro);
}

#graficoBarra {
    background-color: white;
    border-radius: 8px;
    border: 3px solid var(--azulClaro);
}

#conteudo_dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

#conteudo_dashboard div {
    min-height: 330px;
    flex: 1;
    max-width: 270px;
    border: 3px solid var(--azulClaro);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
}

#regiao_umidade, #desvios_criticos, #regiao_umidade, #alertas_hospital, #alertas_sensores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-dashboard {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}


#regiao_umidade span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: green;
    font-size: 25px;
}

#desvios_criticos span{
    display: flex;
    font-size: 30px;
    padding-top: 10px;
    font-style: strong;
    align-items: center;
    justify-content: center;
}

#alertas_hospital span {
    font-size: 30px;
}

#umidade_setores{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li {
    padding: 8px;
}

.span_alerta {
    color: red;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#alertas_hospital p {
    text-align: center;
}