body{
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;

}

:root{
    --azulEscuro: #012351;
    --azulClaro: #41b8d5;
}

.fundo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../imagens/home.png);
    width: 100%;
    height: 750px;
    background-size: cover;    
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    border-bottom: var(--azulClaro) 3px solid;
}
.header img{
    width: auto;
    height: 40px;
    padding: 8px;
}
.header .container{
    display: flex;
    justify-content: flex-end;
}

.fundo .container2{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fundo .container2 .titulo{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 100px;
}
.fundo .container2 .subtitulo{
    font-size: 100px;
    margin-top: -130px;
}
.fundo .container2 p{
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}


.header .navbar{
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 0;
    margin: 0;
    flex-direction: row;
    color: var(--azulEscuro);
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 750px;
    height: 40px;
    border-radius: 50px 0 0 50px ;
    font-weight: bold;
    border: 2px solid var(--azulEscuro);
}
.header li{
    list-style-type: none;
}

.navbar li a {
    color: #012351;
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
  }

.navbar li a:hover,
.navbar .agora a {
  background-color: #00bcd4;
  color: #000;
}

.navbar .button{
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    align-items: center;
    font-weight: bold;    
    margin-right: 10px;
    color: var(--azulEscuro);
    border: 2px solid var(--azulEscuro);
}
.navbar img{
    width: 30px;
    height: 30px;
}
.header .navbar a{
    color: var(--azulEscuro);
    text-decoration: none;
}
.navbar{
    height: 30px;
}

/* .header .container h1{
    color: white;
} */

/* SOBRE NÓS */
.sobrenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 650px;
    padding-top: 126px;
}

.sobrenos h1 span{
    color: var(--azulClaro);
}
.sobrenos h1{
    margin-bottom: 0;
}
.sobrenos h2{
    margin-top: 0;
    font-size: 21px;
    font-weight: lighter;
}
.sobrenos p{
    margin: 0 8%;
    width: 70%;
}
.sobrenos .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    width: 80%;
}
.sobrenos .card{
    align-items: center;
    padding: 10px;
    width: 280px;
    height: 320px;
    background-color: var(--azulEscuro);
    border-radius: 20px;
}
.sobrenos .card h3{
    padding: 0 20px;
}

.sobrenos .card img{
    margin-left: 18px;
    width: 60px;
    height: 60px;
}

/* SISTEMA */
.sistema{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azulEscuro);
    color: white;
    width: 100%;
    padding-top: 126px;
}
.sistema span{
    color: var(--azulClaro);
}

.sistema p{
    width: 70%;
}

.sistema .monitoramento{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: var(--azulClaro);
    border-radius: 20px;
    color: black;
    padding: 20px;
    align-items: center;
}
.sistema .monitoramento img{
    width: 500px;
    height: 250px;
}

.sistema .sensor{
    margin: 3% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    border: 1px solid var(--azulClaro);
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}
.sistema .sensor h2{
    width: 600px;
}
.sistema .sensor p{
    width: 600px;
}

.sistema .sensor img{
    width: 250px;
    height: 250px;
}

/* PÁGINA FINAL */
.paginafinal{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 126px;
}

.paginafinal .simulador{
    margin-top: 3%;
    width: 70%;
    border-radius: 20px;
    background-color: var(--azulEscuro);
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    padding: 25px;
    justify-content: space-around;
    background-image: url(../imagens/riscoFundo.png);
    background-position: right;
    background-repeat: no-repeat;
}
.simulador img{
    width: 300px;
    height: 300px;
}

.simulador .p2{
    width: 50%;
}
.simulador .p2 button{
    background-color: var(--azulClaro);
    border-radius: 20px;
    border: 2px solid white;
    height: 50px;
    width: 130px;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80%;
}
.rodape{
    margin-top: 3%;
    width: 100%;
    background-color: #012351;
    color: white;
    display: flex;
    flex-direction: column;
}

.rodape .p1{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    height: 10px;
    margin: 0;
    margin-bottom: 10px;
    
}
.rodape .p2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.rodape .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rodape .container .divborda1{
    width: 20%;
    border: 2px solid white;
}
.rodape .container .divborda2{
    width: 65%;
    border: 2px solid white;
}
.rodape .p2 .parte1{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.rodape .p2 .parte1 img{
    width: 120px;
    width: 120px;
    margin: 10px;
}
.rodape .p2 .parte2{
    margin: 3% 0 3% 0;
    width: 450px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}
.rodape .p2 .parte1 h1{
    font-size: 40px;
}

a {
    text-decoration: none;
    cursor: pointer;
    
}

a:visited {
    color: white;
}

.botao-simule {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .botao-simule:hover {
    background-color: #0088cc;
  }

  .logo-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00bcd4;
    margin-left: 7px;

}